p {
    position: relative;
    left: 150px;
    right: 100px;
    bottom: -100px;



}
h2{
    position:fixed;
}
div {
    background-color: lightblue;
}
#abc {
    position:relative;
    left: 100px;
}
#abc h1 {
    background-color: green;
    position: absolute;
    left: 200px;
}
